nav  {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.shadow_block {
    width: auto; /* Ширина квадрата */
    height: auto; /* Высота квадрата */
    margin: 10px; /* Расстояние между квадратами */
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    padding: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

article h2 {
    font-size: 20px;
    margin: 0;
}